@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import "./custom.css";

body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
}

.header-bg-img {
  background-image: url("../../public/pattern-bg-desktop.png");
  background-size: cover;
}

.bg-very-dark-gray {
  background-color: var(--very-dark-gray);
}

.bg-very-dark-gray:hover {
  background-color: var(--dark-grey);
}

.border-start {
  border-left: 2px solid black;
}
